<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zyzx.linke">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <!-- Normal Permissions 不需要运行时注册 -->
    <!--获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!-- 请求网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 不是SDK需要的权限，是示例中的后台唤醒定位需要的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 需要运行时注册的权限 -->
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--用于提高GPS定位速度-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--读取缓存数据-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 更改设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 3.2.0版本增加 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 3.2.0版本增加-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <!-- 环信新增权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b9660f04c7b88af227816af318d88ccf" />
        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".activity.SplashAct" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- 华为推送相关配置  start########################################-->
        <receiver android:name="com.hyphenate.chat.EMHuaweiPushReceiver" >
            <intent-filter>
                <!-- 必须,用于接收token -->
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <!-- 必须，用于接收消息 -->
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
            </intent-filter>
            />
            <meta-data android:name="CS_cloud_ablitity" android:value="successRateAnalytics"/>
        </receiver>

        <!-- PushSDK:PushSDK接收外部请求事件入口 -->
        <receiver
            android:name="com.huawei.android.pushagent.PushEventReceiver"
            android:process=":pushservice" >
            <intent-filter>
                <action android:name="com.huawei.android.push.intent.REFRESH_PUSH_CHANNEL" />
                <action android:name="com.huawei.intent.action.PUSH" />
                <action android:name="com.huawei.intent.action.PUSH_ON" />
                <action android:name="com.huawei.android.push.PLUGIN" />
            </intent-filter>
        </receiver>
        <!-- PushSDK:Push服务 -->
        <service
            android:name="com.huawei.android.pushagent.PushService"
            android:process=":pushservice" >
        </service>
        <!-- 华为推送相关配置 end####################################################-->

        <activity android:name=".activity.LoginAct" android:screenOrientation="portrait"/>
        <activity android:name=".activity.SMSLoginAct" android:screenOrientation="portrait"/>
        <activity android:name=".activity.AboutUsAct" android:screenOrientation="portrait"/>
        <activity android:name=".activity.RegisterAct" android:screenOrientation="portrait"/>

        <activity android:name=".activity.MyBooksAct"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.ManualInputAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FriendHomePageAct"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activity.BorrowedInBookAct"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.KeywordListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.MapActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.ImportResultAct"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.DriveRouteDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.WalkRouteDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.CityListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.DetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.PreviewPhotoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.RouteMapActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.BusRouteDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.BusRouteMapActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.MsgCenterAct"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.FriendSearch"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.HomeAct"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.ChatActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".base.ForceUpdateActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Base.V7.Theme.AppCompat.Dialog"
            />
        <activity
            android:name=".base.UpdateActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Base.V7.Theme.AppCompat.Dialog"
            />
        <activity android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <activity android:name="com.hyphenate.easeui.ui.EaseShowNormalFileActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.EaseGaodeMapAct"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>


        <activity android:name="com.hyphenate.easeui.ui.EaseShowVideoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ForgetPswAct"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ResetPswAct"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".base.ErrActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Base.V7.Theme.AppCompat.Dialog"/>

        <activity android:name=".ModifyPswAct"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.FeedBackAct"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>



        <service android:name=".base.UpdateService"/>


        <activity
            android:name=".activity.amap.GeoFence_Activity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity
            android:name=".activity.amap.GeoFence_Old_Activity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity
            android:name=".activity.amap.GeoFence_District_Activity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity
            android:name=".activity.amap.GeoFence_Keyword_Activity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity
            android:name=".activity.amap.GeoFence_Multiple_Activity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity
            android:name=".activity.amap.GeoFence_Nearby_Activity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity
            android:name=".activity.amap.GeoFence_Polygon_Activity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity
            android:name=".activity.amap.GeoFence_Round_Activity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity
            android:name=".activity.Location_Activity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:configChanges="keyboardHidden|orientation|screenSize"
            />
        <activity android:name="zxing.CaptureActivity"/>
        <activity android:name=".activity.CommonBookDetailAct" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ScanBookDetailAct" android:screenOrientation="portrait"/>
        <activity android:name=".activity.PersonalCenter" android:screenOrientation="portrait"/>
        <activity android:name=".activity.BookShareOnMapAct" android:screenOrientation="portrait"/>
        <!-- 友盟统计 -->
        <meta-data android:value="58a69d50f43e4839d30007ce" android:name="UMENG_APPKEY"/>
        <meta-data android:value="baidu_pan" android:name="UMENG_CHANNEL"/>


        <!-- 环信配置 ###########Start##################################################-->
        <!-- 设置环信应用的AppKey -->
        <meta-data android:name="EASEMOB_APPKEY"  android:value="genpact#linke" />
        <!-- 声明SDK所需的service SDK核心功能-->
        <service android:name="com.hyphenate.chat.EMChatService" android:exported="true"/>
        <service android:name="com.hyphenate.chat.EMJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"
            />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <!-- 环信 End#############################################################-->
        <!-- 环信中用到的百度地图,暂未使用 -->
        <!--<meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="t39mDg6Y1V3mG2wDm3w6QSzNK22w7c9h" />-->
    </application>

</manifest>